body{
    background-color:#f4f6ff;
}
h1{
    text-align: center;
    color: #086972;
    padding-top: 10px;
}
h3{
    background-color: ;
    text-align: center;
    color:#086972;
}

.top-li{
    display: inline-block;
    margin: 20px 150px;
}
#ul-top-hyper{
    text-align: center;
}
.civil-img{
    width: 45%;
    float: left;
    margin-right: 30px;
}

.quality-img{
    width: 45%;
    float: right;
    margin-left: 30px;
}

p{
    line-height: 2;
}
hr{
    border: dotted #a0c1b8 6px;
    border-bottom: none;
    width: 10%;
    margin: 3% auto;
}
.top-li{
    display: inline-block;
    margin: 20px 150px;
}
#ul-top-hyper{
    text-align: center;
}

.main-cont{
  width:50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.contact-me{
    padding: 20px 0 20px;
    text-align: center;

}
.footer-link{
    margin:20px 100px
}